In [1]:
import pandas as pd

# DataTypes

##Series

Series are always 1-dimensional objects

In [2]:
series = pd.Series(['BMW','Audi','Honda'])

In [3]:
series

0      BMW
1     Audi
2    Honda
dtype: object

In [4]:
colors = pd.Series(['Red','Black','White'])

In [5]:
colors

0      Red
1    Black
2    White
dtype: object

##DataFrame

DataFrames are always 2-dimensional objects

In [7]:
car_data = pd.DataFrame({'Car make': series,'Color': colors})

In [8]:
car_data

  Car make  Color
0      BMW    Red
1     Audi  Black
2    Honda  White

In [5]:
#import data
car_sales = pd.read_csv('data/car-sales.csv')

In [6]:
car_sales

# Rows are axis = 0 and columns are axis = 1.
# column before "Make" is called "index"

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [8]:
#Exporting a dataframe
car_sales.to_csv('data/exported-car-sales.csv', index=False) # setting index = False avoids writing the index column

#Describe Data

In [9]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [10]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [11]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [12]:
car_sales.describe() # only describes numerical columns. 

# Notice that price column type is "object" and not "int64". So, it is not described below.

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [13]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [14]:
car_sales.mean() # Mean of numerical columns

TypeError: Could not convert ['ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyotaNissan'
 'WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite'
 '$4,000.00$5,000.00$7,000.00$22,000.00$3,500.00$4,500.00$7,500.00$7,000.00$6,250.00$9,700.00'] to numeric

In [15]:
car_sales.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [16]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [17]:
#Above doesn't look that useful. Let's do sum on single column
car_sales['Doors'].sum()

40

In [18]:
len(car_sales)

10