

*   **Interpreter:** Reads the code **line by line** and converts it to Machine
language and execute it. Usually, python uses interpreter.
*   **Compiler**: Reads the **entire code** and converts it to Machine language and then execute it.

**Python Interpreter**: python.org provides python interpreter written in C, called cpython which is most widely used. But there are other interpreters available:


*   Jython: written in Java
*   PyPy: written in python
*   IronPython: written for .Net framework

Python Code -> cpython Interpreter -> Byte Code which runs on cpython VM which runs on device (phone/laptop)

**Code Editors**: sublime, Xcode

**IDEs**: Pycharm, Spyder

**Online IDEs**: repl.it, glot.io

**Python History**

Created by Guido Van Rossum in 1991.

In 2008, python 3 was created.

python is slower than C, C# and sometimes even Java. But it's good for developer productivity becasue of closeness to English language. So, you probably won't use this for Android/iOS Apps.

**Fundamental Data Types:**


* int
* float
* complex
* bool
* str
* list
* tuple
* set
* dict

**Custom Data Types:** Classes

**Specialized Data Types:** Modules, Iterators

**None**

#Numbers

In [ ]:
type(1)   # int
type(-10) # int
type(0)   # int
type(0.0) # float
type(2.2) # float
type(4E2) # float - 4*10 to the power of 2

In [3]:
# Arithmetic
10 + 3  # 13
10 - 3  # 7
10 * 3  # 30
10 ** 3 # 1000
10 / 3  # 3.3333333333333335
10 // 3 # 3 --> floor division - no decimals and returns an int
10 % 3  # 1 --> modulo operator - return the reminder. Good for deciding if number is even or odd

1

In [4]:
# Basic Functions
pow(5, 2)      # 25 --> like doing 5**2
abs(-50)       # 50
round(5.46)    # 5
round(5.468, 2)# 5.47 --> round to nth digit
bin(512)       # '0b1000000000' -->  binary format
hex(512)       # '0x200' --> hexadecimal format
print(int('0x200',16))

512

# Variables

General Convention:
* Use lowercase for variable name and use _ for spaces. e.g. user_iq
* Use UPPERCASE for constants. e.g. PI = 3.14
* Don't override python keywords
* Don't start the name with __

In [6]:
a,b,c = 1,2,3
print(a)

1

In [16]:
4a = 5 # Raises error --> variable name cannot start with number

SyntaxError: ignored

# Statement v/s Expression

* iq = 100 --> "iq = 100" is statement
* age = iq/5 --> "iq/5" is expression. "age = iq/5" is statement

# Augmented Assignment Operator

In [8]:
a = 5
a += 5 #--> a = a + 5
print(a)
a -= 5 #--> a = a - 5
print(a)
a *= 5 #--> a = a * 5
print(a)
a /= 5 #--> a = a / 5
print(a)
a **= 3
print(a)

10
5
25
5.0
125.0

# Strings

strings in python are stored as sequences of letters in memory

In [16]:
type('Hellloooooo') # str

'I\'m thirsty'
"I'm thirsty"
"\n" # new line
"\t" # adds a tab

#Long multi-line string with '''
long_string = '''
WOW
0 0
---
'''
print(long_string)

'Hey you!'[4] # y
name = 'Andrei Neagoie'
name[4]     # e
name[:]     # Andrei Neagoie
name[1:]    # ndrei Neagoie
name[:1]    # A
name[-1]    # e
name[::1]   # Andrei Neagoie
name[::-1]  # eiogaeN ierdnA
print(name[::-2]) # eoaNirn
name[0:10:2]# Ade e
# : is called slicing and has the format [ start : end : step ]

'Hi there ' + 'Timmy' # 'Hi there Timmy' --> This is called string concatenation
'*'*10 # **********

WOW
0 0
---

eoaNirn

'**********'

In [ ]:
# Basic Functions
len('turtle') # 6

# Basic Methods
'  I am alone '.strip()               # 'I am alone' --> Strips all whitespace characters from both ends.
'On an island'.strip('d')             # 'On an islan' --> # Strips all passed characters from both ends.
'but life is good!'.split()           # ['but', 'life', 'is', 'good!']
'Help me'.replace('me', 'you')        # 'Help you' --> Replaces first with second param
'Need to make fire'.startswith('Need')# True
'and cook rice'.endswith('rice')      # True
'still there?'.upper()                # STILL THERE?
'HELLO?!'.lower()                     # hello?!
'ok, I am done.'.capitalize()         # 'Ok, I am done.'
'oh hi there'.count('e')              # 2
'bye bye'.index('e')                  # 2
'oh hi there'.find('i')               # 4 --> returns the starting index position of the first occurrence
'oh hi there'.find('a')               # -1
'oh hi there'.index('a')              # Raises ValueError

In [15]:
# String Formatting
name1 = 'Andrei'
name2 = 'Sunny'
print(f'Hello there {name1} and {name2}')       # Hello there Andrei and Sunny - Newer way to do things as of python 3.6
print('Hello there {} and {}'.format(name1, name2))# Hello there Andrei and Sunny
print('Hello there {1} and {0}'.format(name1, name2))# Hello there Andrei and Sunny
print('Hello there %s and %s' %(name1, name2))  # Hello there Andrei and Sunny --> you can also use %d, %f, %r for integers, floats, string representations of objects respectively

Hello there Andrei and Sunny
Hello there Andrei and Sunny
Hello there Sunny and Andrei
Hello there Andrei and Sunny

In [13]:
# Palindrome check
word = 'reviver'
p = bool(word.find(word[::-1]) + 1)
print(p) # True

True

In [19]:
# Immutability: You cannot change it's value unless you completely reassign, i.e., destroy the current string and create a new one.

a = '01233456'
a = '1234' # Re-assignment is ok. This is a whole new string with new memory address. Old string doesn't exist anymore.
a.replace('1','9') # Doesn't change "a" unless we write a = a.replace('1','9') because strins are immutable.
a[0] = '8' # raises error

TypeError: ignored

# Booleans

In [20]:
bool(True)
bool(False)

# all of the below evaluate to False. Everything else will evaluate to True in Python.
print(bool(None))
print(bool(False))
print(bool(0))
print(bool(0.0))
print(bool([]))
print(bool({}))
print(bool(()))
print(bool(''))
print(bool(range(0)))
print(bool(set()))

False
False
False
False
False
False
False
False
False
False

# Lists

Unlike strings, lists are mutable sequences in python

In [22]:
my_list = [1, 2, '3', True]# We assume this list won't mutate for each example below
len(my_list)               # 4
print(my_list.index('3'))         # 2
print(1 in my_list)        # True --> check if an item exists in the list
my_list.count(2)           # 1 --> count how many times 2 appears

my_list[3]                 # True
my_list[1:]                # [2, '3', True]
my_list[:1]                # [1]
my_list[-1]                # True
my_list[::1]               # [1, 2, '3', True]
my_list[::-1]              # [True, '3', 2, 1]
my_list[0:3:2]             # [1, '3']

# : is called slicing and has the format [ start : end : step ]

2
True

[1, '3']

In [23]:
# Add to List
my_list * 2                # [1, 2, '3', True, 1, 2, '3', True]
print(my_list)
my_list + [100]            # [1, 2, '3', True, 100] --> doesn't mutate original list, creates new one
my_list.append(100)        # None --> Mutates original list to [1, 2, '3', True, 100]          # Or: <list> += [<el>]
my_list.extend([100, 200]) # None --> Mutates original list to [1, 2, '3', True, 100, 100, 200]
my_list.insert(2, '!!!')   # None -->  [1, 2, '!!!', '3', True, 100, 100, 200] - Inserts item at index and moves the rest to the right.
print(my_list)
' '.join(['Hello','There'])# 'Hello There' --> Joins elements using string as separator. Here, separator is ' '.
print('!'.join(['Hello','There','My','Friend']))
print(' '.join(['Hello','There','My','Friend']))

[1, 2, '3', True]
[1, 2, '!!!', '3', True, 100, 100, 200]
Hello!There!My!Friend
Hello There My Friend

In [14]:
# Copy a List
basket = ['apples', 'pears', 'oranges']
new_basket = basket.copy() # new_basket = basket will result in new_basket also pointing to the same memory location as basket.
#Then, modifying new_basket will also modify basket.
new_basket2 = basket[:] # List slicing always creates a new list

In [9]:
# Remove from List
[1,2,3].pop()    # 3 --> mutates original list, default index in the pop method is -1 (the last item)
[1,2,3].pop(1)   # 2 --> mutates original list
[1,2,3].remove(2)# None --> [1,3] Removes first occurrence of item or raises ValueError.
[1,2,3].clear()  # None --> mutates original list and removes all items: []
del [1,2,3][0]   # None --> removes item on index 0 or raises IndexError

In [15]:
# Ordering
[1,2,5,3].sort()         # None --> Mutates list to [1, 2, 3, 5]
[1,2,5,3].sort(reverse=True) # None --> Mutates list to [5, 3, 2, 1]
[1,2,5,3].reverse()      # None --> Mutates list to [3, 5, 2, 1]
sorted([1,2,5,3])        # [1, 2, 3, 5] --> new list created
my_list = [(4,1),(2,4),(2,5),(1,6),(8,9)]
sorted(my_list,key=lambda x: int(x[0])) # [(1, 6), (2, 4), (2, 5), (4, 1), (8, 9)] --> sort the list by 1st (0th index) value of the tuple
list(reversed([1,2,5,3]))# [3, 5, 2, 1] --> reversed() returns an iterator

[3, 5, 2, 1]

In [26]:
# List unpacking
a,b,c = [1,2,3]
print(a, b, c)
a,b,c,*other = [1,2,3,4,5,6,7]
print(a, b, c, other)
a,b,c,*other,d = [1,2,3,4,5,6,7]
print(a, b, c, other, d)

1 2 3
1 2 3 [4, 5, 6, 7]
1 2 3 [4, 5, 6] 7

In [28]:
# Get First and Last element of a list
mList = [63, 21, 30, 14, 35, 26, 77, 18, 49, 10]
first, *x, last = mList
print(first) #63
print(last) #10

63
10

In [27]:
# Useful operations
1 in [1,2,5,3]  # True
min([1,2,3,4,5])# 1
max([1,2,3,4,5])# 5
sum([1,2,3,4,5])# 15

15

In [30]:
# Matrix
matrix = [[1,2,3], [4,5,6], [7,8,9]]
matrix[2][0] # 7 --> Grab first first of the third item in the matrix object

# Looping through a matrix by rows:
mx = [[1,2,3],[4,5,6]]
for row in range(len(mx)):
	for col in range(len(mx[0])):
		print(mx[row][col]) # 1 2 3 4 5 6

# Transform into a list:
print([mx[row][col] for row in range(len(mx)) for col in range(len(mx[0]))]) # [1,2,3,4,5,6]

# Combine columns with zip and *:
[x for x in zip(*mx)] # [(1, 4), (2, 5), (3, 6)]

1
2
3
4
5
6
[1, 2, 3, 4, 5, 6]

[(1, 4), (2, 5), (3, 6)]

In [ ]:
# List Comprehensions
# new_list[<action> for <item> in <iterator> if <some condition>]
a = [i for i in 'hello']                  # ['h', 'e', 'l', 'l', '0']
b = [i*2 for i in [1,2,3]]                # [2, 4, 6]
c = [i for i in range(0,10) if i % 2 == 0]# [0, 2, 4, 6, 8]

In [ ]:
# Advanced Functions
list_of_chars = list('Helloooo')                                   # ['H', 'e', 'l', 'l', 'o', 'o', 'o', 'o']
sum_of_elements = sum([1,2,3,4,5])                                 # 15
element_sum = [sum(pair) for pair in zip([1,2,3],[4,5,6])]         # [5, 7, 9]
sorted_by_second = sorted(['hi','you','man'], key=lambda el: el[1])# ['man', 'hi', 'you']
sorted_by_key = sorted([
                       {'name': 'Bina', 'age': 30},
                       {'name':'Andy', 'age': 18},
                       {'name': 'Zoey', 'age': 55}],
                       key=lambda el: (el['name']))# [{'name': 'Andy', 'age': 18}, {'name': 'Bina', 'age': 30}, {'name': 'Zoey', 'age': 55}]

In [ ]:
# Read line of a file into a list
with open("myfile.txt") as f:
  lines = [line.strip() for line in f]

#None

None is used for absence of a value and can be used to show nothing has been assigned to an object

In [33]:
print(type(None)) # NoneType
a = None

<class 'NoneType'>

#Dictionaries

Also known as mappings or hash tables. They are key value pairs that are guaranteed to retain order of insertion starting from Python 3.7

It is unordered data structure. So, one key-value pair could be in one part of memory and next key-value pair could be in completely different part of the memory. On the other hand, list is ordered, so we can access its elements by index and all elements are located adjacent to each other in the memory.

In [88]:
my_dict = {'name': 'Andrei Neagoie', 'age': 30, 'magic_power': False, 'prev_scores': [200,500,650]}
my_dict['name']                      # Andrei Neagoie
len(my_dict)                         # 4
my_dict['prev_scores'][0]            # 200
list(my_dict.keys())                 # ['name', 'age', 'magic_power', 'prev_scores']
list(my_dict.values())               # ['Andrei Neagoie', 30, False, [200, 500, 650]]
list(my_dict.items())                # [('name', 'Andrei Neagoie'), ('age', 30), ('magic_power', False), ('prev_scores', [200, 500, 650])]
my_dict['favourite_snack'] = 'Grapes'# {'name': 'Andrei Neagoie', 'age': 30, 'magic_power': False, 'prev_scores': [200,500,650], 'favourite_snack': 'Grapes'}
my_dict.get('age')                   # 30 --> Returns None if key does not exist.
my_dict.get('ages', 0 )              # 0 --> Returns default (2nd param) if key is not found
print('ages' in my_dict)             # False
print('ages' in my_dict.keys())      # False
print(30 in my_dict.values())        # True
print(my_dict.popitem())             # ('favourite_snack', 'Grapes') Pops out the last key value pair in dictionary from python 3.7. Earlier, it uses to be any random key value pair
print(my_dict)

#Remove key
del my_dict['name']
my_dict.pop('name', None)

False
False
True
('favourite_snack', 'Grapes')
{'name': 'Andrei Neagoie', 'age': 30, 'magic_power': False, 'prev_scores': [200, 500, 650]}

In [89]:
my_dict.update({'cool': True})                                         # {'age': 30, 'magic_power': False, 'prev_scores': [200, 500, 650], 'cool': True}
print(my_dict)
{**my_dict, **{'cool': True} }                                         # {'age': 30, 'magic_power': False, 'prev_scores': [200, 500, 650], 'cool': True}
print(my_dict)
my_dict.update({'age': 45})                                            # {'age': 45, 'magic_power': False, 'prev_scores': [200, 500, 650], 'cool': True}
print(my_dict)
new_dict = dict([['name','Andrei'],['age',32],['magic_power',False]])  # Creates a dict from collection of key-value pairs.
new_dict = dict(zip(['name','age','magic_power'],['Andrei',32, False]))# Creates a dict from two collections.
snack = my_dict.pop('cool')                                            # True --> Removes item from dictionary.
print(new_dict)
new_dict2 = dict(name = 'John')                                        # {'name': 'John'}
print(new_dict2)

{'age': 30, 'magic_power': False, 'prev_scores': [200, 500, 650], 'cool': True}
{'age': 30, 'magic_power': False, 'prev_scores': [200, 500, 650], 'cool': True}
{'age': 45, 'magic_power': False, 'prev_scores': [200, 500, 650], 'cool': True}
{'name': 'Andrei', 'age': 32, 'magic_power': False}
{'name': 'John'}

In [63]:
# Dictionary Comprehension
print(new_dict)
{key: value for key, value in new_dict.items() if key == 'age' or key == 'name'} # {'name': 'Andrei', 'age': 32} --> Filter dict by keys

{'name': 'Andrei', 'age': 32, 'magic_power': False}

{'name': 'Andrei', 'age': 32}

In [40]:
# List of dictionaries
my_list = [
    {
        'a': [1,2,3],
        'b': 'hello',
        'x': True
    },
    {
        'a': [4,5,6],
        'b': 'hello',
        'x': True
    }
]
print(my_list[0]['a'][2])

3

In [1]:
# Dictionary Keys
# Keys need to be immutable, so it cannot be a list, for example. number, boolean, strings are ok.
my_dict = {
        'a': [1,2,3],
        123: 'hello',
        True: 30,
        (1,2): 40
    }

print(my_dict[123])
print(my_dict[True])
print(my_dict[(1,2)])

# We can't have 2 keys with the same name. Otherwise, it gets overridden.
my_dict2 = {
        'a': [1,2,3],
        '123': 'hello',
        '123': 'duplicate'
    }

print(my_dict2['123'])

hello
30
40
duplicate

In [80]:
my_dict3 = my_dict.copy()
my_dict.clear()             # None --> Clears the dictionary
print(my_dict)
print(my_dict3)

{}
{'a': [1, 2, 3], 123: 'hello', True: 30}

# Tuples

Like Lists but they are immutable.

All list functionality work for tuple except those that change the list in place.. like sort, reverse, append, extend etc.

Because of less flexibility, tuples are faster than lists.

In [2]:
my_tuple = ('apple','grapes','mango', 'grapes')
apple, grapes, mango, grapes = my_tuple# Tuple unpacking
len(my_tuple)                          # 4
my_tuple[2]                            # mango
my_tuple[-1]                           # 'grapes'
a,*other,b = my_tuple
print(a,b,other)

apple grapes ['grapes', 'mango']

In [91]:
# Immutability
my_tuple[1] = 'donuts'  # TypeError
my_tuple.append('candy')# AttributeError

TypeError: ignored

In [92]:
# Methods: Tuple has only two methods
my_tuple.index('grapes') # 1
my_tuple.count('grapes') # 2

2

In [94]:
# Zip
list(zip([1,2,3], [4,5,6])) # [(1, 4), (2, 5), (3, 6)]

[(1, 4), (2, 5), (3, 6)]

In [95]:
# unzip
z = [(1, 2), (3, 4), (5, 6), (7, 8)] # Some output of zip() function
unzip = lambda z: list(zip(*z))
unzip(z)

[(1, 3, 5, 7), (2, 4, 6, 8)]

#Sets

## General Sets

Unorderd collection of unique elements.

In [4]:
my_set = set()
my_set.add(1)  # {1}
my_set.add(100)# {1, 100}
my_set.add(100)# {1, 100} --> no duplicates!

In [5]:
new_list = [1,2,3,3,3,4,4,5,6,1]
set(new_list)           # {1, 2, 3, 4, 5, 6}

my_set.remove(100)      # {1} --> Raises KeyError if element not found
my_set.discard(100)     # {1} --> Doesn't raise an error if element not found
my_set.clear()          # {}
new_set = {1,2,3}.copy()# {1,2,3}

In [2]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)               # {1,2,3,4,5}
print(set1 | set2)                    # Same as union
set4 = set1.intersection(set2)        # {3}
print(set1 & set2)                    # Same as intersection
set5 = set1.difference(set2)          # {1, 2}
set6 = set1.symmetric_difference(set2)# {1, 2, 4, 5}
set1.issubset(set2)                   # False
set1.issuperset(set2)                 # False
set1.isdisjoint(set2)                 # False --> return True if two sets have a null intersection.
print(set1)
set1.difference_update(set2)          # None --> removes common elements between set1 and set2 from set1
print(set1)

{1, 2, 3, 4, 5}
{3}
{1, 2, 3}
{1, 2}

## Frozen Set

**Frozen set** is just an immutable version of a Python set object. While elements of a set can be modified at any time, elements of the frozen set remain the same after creation.

Due to this, frozen sets can be used as keys in Dictionary or as elements of another set. But like sets, it is not ordered (the elements can be set at any index).

The syntax of frozenset() function is: frozenset([iterable])

In [4]:
# tuple of vowels
vowels = ('a', 'e', 'i', 'o', 'u')

fSet = frozenset(vowels)
print('The frozen set is:', fSet)
print('The empty frozen set is:', frozenset())

# frozensets are immutable
fSet.add('v')

The frozen set is: frozenset({'a', 'e', 'o', 'i', 'u'})
The empty frozen set is: frozenset()

AttributeError: ignored

In [5]:
# When you use a dictionary as an iterable for a frozen set, it only takes keys of the dictionary to create the set.
# random dictionary
person = {"name": "John", "age": 23, "sex": "male"}

fSet = frozenset(person)
print('The frozen set is:', fSet)

The frozen set is: frozenset({'name', 'sex', 'age'})

In [8]:
# frozenset is hashable --> it can be used as a key in a dictionary or as an element in a set.

fset1 = frozenset()
dict_set = {fset1: 30, fSet: 40}

print(dict_set[fset1])
print(dict_set[fSet])

30
40

# Truthy and Falsy

Truthy and Falsy can be thought of any variable converted to boolean. A "truthy" value will satisfy the check performed by if or while statements. As explained in the [documentation](https://docs.python.org/3/library/stdtypes.html#truth-value-testing), all values are considered "truthy" except for the following, which are "falsy":

* None
* False
* Numbers that are numerically equal to zero, including:
  * 0
  * 0.0
  * 0j
  * decimal.Decimal(0)
  * fraction.Fraction(0, 1)
* Empty sequences and collections, including:
  * [] - an empty list
  * {} - an empty dict
  * () - an empty tuple
  * set() - an empty set
  * '' - an empty str
  * b'' - an empty bytes
  * bytearray(b'') - an empty bytearray
  * memoryview(b'') - an empty memoryview
  * an empty range, like range(0)
* objects for which
  * obj.\_\_bool\_\_() returns False
  * obj.\_\_len\_\_() returns 0, given that obj.\_\_bool\_\_ is undefined

In [9]:
print(bool([]))

False

# Ternary Operator

Also called **Conditional Expression**. It's syntax is as below:

\<return_this_if_true\>  if  \<condition\>  else  \<return_this_if_false\>

In [10]:
is_friend = True
can_message = "Message allowed" if is_friend else "Message not allowed"
print(can_message)

Message allowed

In [14]:
is_friend = True
is_close = False
can_message = "Message allowed" if is_close else "General Message allowed" if is_friend else "Message not allowed"
print(can_message)

General Message allowed

In [1]:
[a if a else 'zero' for a in [0, 1, 0, 3]] # ['zero', 1, 'zero', 3]

['zero', 1, 'zero', 3]

#Short Circuiting

When we use conditions, python interpretor can skip evaluating some of the conditions to save on computing resources. This is called **Short Circuiting**.


  * **Example 1:** Condition1 and Condition2 and Condition3 and Condition4 and ....

  In this case, if Condition1 is False, python interpretor skips the evaluation of the other conditions because the whole condition will be False regardless of other conditions.

  * **Example 2:** Condition1 or Condition2 or Condition3 or Condition4 or ....

  In this case, if Condition1 is True, python interpretor skips the evaluation of the other conditions because the whole condition will be True regardless of other conditions.

#Operators

##Comparison Operators

In [ ]:
==                   # equal values
!=                   # not equal
>                    # left operand is greater than right operand
<                    # left operand is less than right operand
>=                   # left operand is greater than or equal to right operand
<=                   # left operand is less than or equal to right operand
<element> is <element> # check if two operands refer to same object in memory

##Logical Operators

In [ ]:
1 < 2 and 4 > 1 # True
1 > 3 or 4 > 1  # True
1 is not 4      # True
not True        # False
1 not in [2,3,4]# True

if <condition that evaluates to boolean>:
  # perform action1
elif <condition that evaluates to boolean>:
  # perform action2
else:
  # perform action3

## Examples

In [20]:
print('a' > 'A')
print('a' > 'b')
print(1 < 2 < 3 < 4)
print(1 < 2 > 3 < 4) # Short circuit after comparing 2 with 3
print( not(True))

True
False
True
False
False

In [22]:
# == checks if value on the right is equal to the value on the left.
# With different types on each side, python tries to convert both values in the same datatype and then compares them.
print(True == 1)
print('' == 0)
print([] == 1)
print(10 == 10.0)
print([] == [])

True
False
False
True
True

In [26]:
# is checks if both sides are located in the same memory location
print(True is True) # For simple numbers, strings, booleans, they are located in the same memory location
print(True is 1)
print('' is '')
print('' is 0)
print([] is 1)
print(10 is 10.0)
print([] is []) # In case of lists, each list will have different memory location. This is equivalent to a = []; b= []; a is b

True
False
True
False
False
False
False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-26-80bcb98050c2>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(True is 1)
<ipython-input-26-80bcb98050c2>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('' is '')
<ipython-input-26-80bcb98050c2>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('' is 0)
<ipython-input-26-80bcb98050c2>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print([] is 1)
<ipython-input-26-80bcb98050c2>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(10 is 10.0)

# Loops

## break, continue, pass

In both For and While loops, we can use the following:

* break: breaks out of the loop
* continue: continues back to the loop condition check
* pass: continues to the next line. It can be used as a placeholder for code within a loop. Rarely used in practice.

In [37]:
for item in range(10):  # pass is used as placeholder for code
  #TODO
  pass

for item in range(10):  # Raises Error
  #TODO

SyntaxError: ignored

## For Loop

For loop runs on iterables. Iterable could be list, tuple, set, dictionary, string or anything that can be iterated, i.e., go one by one and check each item in the collection.

In [ ]:
my_list = [1,2,3]
my_tuple = (1,2,3)
my_set = {1,2,3}
my_list2 = [(1,2), (3,4), (5,6)]
my_dict = {'a': 1, 'b': 2, 'c': 3}

for num in my_list:
    print(num) # 1, 2, 3

for num in my_tuple:
    print(num) # 1, 2, 3

for num in my_set:
    print(num) # 1, 2, 3

for num in my_list2:
    print(num) # (1,2), (3,4), (5,6)

for num in '123':
    print(num) # 1, 2, 3

for item in 50: # Raises error since int is not iterable coz it's not a collection of items
    print(item)

for k,v in my_dict.items(): # Dictionary Unpacking
    print(k) # 'a', 'b', 'c'
    print(v) # 1, 2, 3

## While Loop

In [ ]:
while <condition that evaluates to boolean>:
  # action
  if <condition that evaluates to boolean>:
    break # break out of while loop
  if <condition that evaluates to boolean>:
    continue # continue back to the while loop condition line
else:
  # action after while condition is false, i.e., the while loop is done.
  # This is not run if while loop ended because of break statement.
  # So, we can use else to run something if while loop is finished and not run if while loop ended because of break.

In [35]:
i = 0
while i < 50:
  print(i)
  break
else:
  print("Done")

0

##Range

In [29]:
range(10)          # range(0, 10) --> 0 to 9
range(1,10)        # range(1, 10)
list(range(0,10,2))# [0, 2, 4, 6, 8] (start, stop, step)

# Variable name is _ here. It just shows that you don't care about variable name here.
# You just wanted the loop to do something 10 times
for _ in range(10):      # prints 0 to 9
  print(_)

for i in range(0,10,-1): # does nothing. similarly, range(10,0) will do nothing since default step is +1
  print(i)

for i in range(10,0,-1): # prints 10 to 1
  print(i)

0
1
2
3
4
5
6
7
8
9
10
9
8
7
6
5
4
3
2
1

## Enumerate

Enumerate indexes the iterable

In [34]:
my_list = [1,2,3]
for idx,value in enumerate(my_list): # it could have been string, list, set, tuple or any other iterable
    print(idx) # get the index of the item
    print(value) # get the value

0
1
1
2
2
3

In [32]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
for i,v in enumerate(my_dict):
  print(i,v)

0 a
1 b
2 c

# Print a picture

In [1]:
picture = [
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0]
]

for row in picture:
  for pixel in row:
    if(pixel == 0):
      print(' ', end = '')
      # By default, print statement ends with '\n' but
      # we want each row to be printed in one line. so, overriding default for end param in print.
    else:
      print('*', end = '')
  print('') # Need a new line (\n) after every row.

   *
  ***
 *****
*******
   *
   *

# Check for Duplicates in a list without using set

In [3]:
my_list = ['a','b','c','c','d','d','n','n','n']

duplicates = []

for value in my_list:
  if my_list.count(value) > 1 and value not in duplicates:
    duplicates.append(value)

print(duplicates)

['c', 'd', 'n']

# Functions

In [8]:
# parameters: name, greeting
def say_hello(name,greeting):
  print(f'Hello {name}! {greeting}')

# Positional arguments: "Gaurav", "How are you?" --> These are positional arguments since their position matters when calling the function.
say_hello("Gaurav", "How are you?")

# Keyword arguments --> Their position doesn't matter since we are explicitly telling python which argument is for what function parameter.
say_hello(greeting = "How are you?", name = "Gaurav")

# However, it's a bad practice to not use the order in which parameters are expected in the function.
# because it makes it difficult for someone reading the code. So better to do it like below even if we decide to use keyword arguments
say_hello(name = "Gaurav", greeting = "How are you?")

Hello Gaurav! How are you?
Hello Gaurav! How are you?
Hello Gaurav! How are you?

In [11]:
# Default parameters --> used if those arguments are not provided when calling the function
def say_hello(name = "Satan", greeting = "Welcome to Hell"):
  print(f'Hello {name}! {greeting}')

say_hello()
say_hello("Timmy")
say_hello(greeting="Go to Hell")

Hello Satan! Welcome to Hell
Hello Timmy! Welcome to Hell
Hello Satan! Go to Hell

In [15]:
# function inside function
# return exits the function. so anything after return will not be executed.
def sum(num1, num2):
  def another_func(n1,n2):
    return n1+n2
  return another_func(num1,num2)
  print("Hello")

print(sum(10,20))

30

**Docstring ('  ' ')**

Used to provide info about the function. IDE can display that information in the function suggestion. It is also displayed when help(function) is called.

In [6]:
def myfunc(a):
  '''
  Info: This function prints param a
  '''
  print(a)


myfunc("aaaa")

help(myfunc)
print(myfunc.__doc__)

aaaa
Help on function myfunc in module __main__:

myfunc(a)
    Info: This function prints param a


  Info: This function prints param a

**\*args and \*\*kwargs**

Splat (\*) expands a collection into positional arguments, while splatty-splat (**) expands a dictionary into keyword arguments.

In [ ]:
args   = (1, 2)
kwargs = {'x': 3, 'y': 4, 'z': 5}
some_func(*args, **kwargs) # same as some_func(1, 2, x=3, y=4, z=5)

**\* Inside Function Definition**

Splat (\*) combines zero or more positional arguments into a tuple, while splatty-splat (**) combines zero or more keyword arguments into a dictionary.

In [1]:
def add(*a):
    return sum(a)

add(1, 2, 3) # 6

6

**Ordering of parameters:**

There is a rule about order of parameters defined. Allowed order is **param, \*args, default parameters, \*\*kwargs**

In [ ]:
def f(*args):                  # f(1, 2, 3)
def f(x, *args):               # f(1, 2, 3)
def f(*args, z):               # f(1, 2, z=3)
def f(x, *args, z):            # f(1, 2, z=3)

def f(**kwargs):               # f(x=1, y=2, z=3)
def f(x, **kwargs):            # f(x=1, y=2, z=3) | f(1, y=2, z=3)

def f(*args, **kwargs):        # f(x=1, y=2, z=3) | f(1, y=2, z=3) | f(1, 2, z=3) | f(1, 2, 3)
def f(x, *args, **kwargs):     # f(x=1, y=2, z=3) | f(1, y=2, z=3) | f(1, 2, z=3) | f(1, 2, 3)
def f(*args, y, **kwargs):     # f(x=1, y=2, z=3) | f(1, y=2, z=3)
def f(x, *args, z, **kwargs):  # f(x=1, y=2, z=3) | f(1, y=2, z=3) | f(1, 2, z=3)

In [10]:
def f(x, *args, z, **kwargs):
  print(x, args, z, kwargs)

#f(1,2,3,4,5,6,y=2) # Raises error since z is keyword-only argument which is not provided here.
f(1,2,3,4,5,6,y=2, z = 3)

1 (2, 3, 4, 5, 6) 3 {'y': 2}

Other Uses of splat(\*)

In [3]:
[*[1,2,3], *[4]]                # [1, 2, 3, 4]
{*[1,2,3], *[4]}                # {1, 2, 3, 4}
(*[1,2,3], *[4])                # (1, 2, 3, 4)
{**{'a': 1, 'b': 2}, **{'c': 3}}# {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [2]:
head, *body, tail = [1,2,3,4,5]

In [13]:
def highest_even(li):
  '''
  returns highest even number from a given list
  '''
  evens = []
  for item in li:
    if item % 2 == 0:
      evens.append(item)
  return max(evens)

print(highest_even([2,10,4,6,8,11]))

10

#Map, Filter, Reduce

In [4]:
list(map(lambda x: x + 1, range(10)))            # [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
list(filter(lambda x: x > 5, range(10)))         # (6, 7, 8, 9) --> input function

[6, 7, 8, 9]

Reduce:  

* At first step, first two elements of sequence are picked and the result is obtained.

* Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.

* This process continues till no more elements are left in the container.
* The final returned result is returned and printed on console.

In [5]:
from functools import reduce
reduce(lambda acc, x: acc + x, range(10))               # 45
reduce(lambda a, b: a if a > b else b, [1, 3, 5, 6, 2]) # 6

6

#Walrus Operator (:=)

Released in python 3.8

Walrus operator assigns values to variables as part of a larger expression. It helps avoid evaluating an expression twice.

In [2]:
a = "hellooooooo"

# Let's say we want to do below. Here, we are evaluating len(a) twice.
if(len(a) > 5):
  print(f'length {len(a)} is too long')

# Using Walrus operator, we can avoid evaluating len(a) twice by assigning it to n when evaluating it the first time as part of condition expression evaluation
if((n:=len(a)) > 5):
  print(f'length {n} is too long')

length 11 is too long
length 11 is too long

In [3]:
while (n := len(a)) > 1:
  print(n)
  a = a[:-1]

11
10
9
8
7
6
5
4
3
2

#Scope

Which variables do I have access to?

Rule:


1.   First, check if it exists in local scope
2.   If not, check parent local scope
3.   If not, check global scope
4.   If not, check python built-in functions

In [4]:
a = 1

def confusion():
  a = 5
  return a # returns a from local scope, i.e., 5. Doesn't impact global scope

print(a)
print(confusion())

1
5

In [5]:
a = 1

def parent():
  a = 10
  def confusion():
    return a # returns a from parent local scope, i.e., 10. Doesn't impact global scope
  return confusion()

print(a)
print(parent())

1
10

In [6]:
a = 1

def parent():
  def confusion():
    return a # returns a from global scope, i.e., 1 because there is no a in local or parent local scope
  return confusion()

print(a)
print(parent())

1
1

In [7]:
a = 1

def parent():
  def confusion():
    return sum # returns sum from python built-in function because there is no sum in local, parent local or global scope
  return confusion()

print(a)
print(parent())

1
<built-in function sum>

## global Keyword

In [10]:
# Access global variable in local scope

total = 0

def count():
  global total # if we dont have this line, it will raise an error because total doesn't exist in local scope
  total += 1
  return total

count()
count()
count()
count()
print(total)

4

In [11]:
# However, it's not a good coding practice to access and modify variables from different scopes in most scenarios since it gets confusing.
# So, better way of doing this could be:

total = 0

def count(total):
  total += 1
  return total

total = count(total)
total = count(total)
total = count(total)
total = count(total)
print(total)

4

## nonlocal Keyword

nonlocal is used to access variables outside of local scope but not in global scope. so, to access variables from any parent local scope.

Again, it's not a good practice to use this in most of the scenarios to avoid any confusion.

In [18]:
def get_counter():
    i = 0
    def out():
        nonlocal i # access i from parent local scope
        i += 1
        return i
    return out

counter = get_counter()
print(counter(), counter(), counter())

1 2 3

## Why do we need scope?

It would have been great to have all variables as global variables without worrying about who has access to who. But, that will occupy a lot of memory.

For example, once the function call is finished, all the local function variables are destroyed and that memory is freed up. If we didn't have the local scope, those variables would still occupy memory.

In case of non-local example, we are using the same variable in both parent and inner function, so it doesn't need to assign memory to two separate variables.

All of this matters once the code gets very big and we have a lot of variables taking up memory.